<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{{ url_for('static', filename='file.css') }}" 
        rel="stylesheet"
        type="text/css">
  <link href="{{ url_for('static', filename='flask.png') }}"
        rel="icon">
  <title>회원가입</title>
  {# GET요청일 땐 form_data가 없으니, 빈 dict로 대체하여 f에 할당 .get()에서 에러가 안 남 #}
  {% set f = form_data or {} %}
  {% if msg %}
    <p style="color:red;">{{msg}}</p>
  {% endif %}
</head>
<body>
  <h2>회원가입(post)</h2>
  <form method="post"> <!-- action을 생략하여, 현재 주소인 /join으로 post 요청을 보냄 -->
    <!-- {{f.get('name', '')}} = 이전에 사용자가 입력한 값을 다시 입력창에 표시. 뒤''는 name값을 가져오되, 없으면 빈 문자열 사용 -->
    <p>이름 <input type="text" name="name" value="{{f.get('name', '')}}"></p>
    <p>아뒤 <input type="number" name="id" value="{{f.get('id', '')}}"></p>
    <p>비번 <input type="password" name="pw"></p>
    <p>주소 <input type="text" name="addr" value="{{f.get('addr', '')}}"></p>
    <!-- type="submit" = 폼 전송 버튼 -->
    <p><input type="submit" value="가입"></p>
  </form>
</body>
</html>